@media (min-width: 0px) {
  .principal-layout{
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {     
  .principal-layout{
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .principal-layout{
    padding-right: 10%;
    padding-left: 10%;
  }
}

.scrollable{
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.productImage{
  width: 100px;
  height: 100px;
}
.clientImage{
  width: 100px;
  height: 100px;
}

ul li {
  list-style-type: none;
}

input[type="text"],input[type="number"]{
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-radius: 7px;
}


.desactivo{
  background-color: white;
  color: black;
}

.seccion{
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
  transition: border-bottom 0.2s;
}

.seccion:hover{
  border-bottom: 2px solid rgba(128, 128, 128, 1);
  transition: border-bottom 0.2s;
}

