    <%- include('hnf/header.ejs') %> 
    <%- include('hnf/navbar.ejs') %> 
    
    <div class="container-expand">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <div class="list-group list-group-flush ">
                        <a href="/modPublicaciones" class="list-group-item list-group-item-action">Posts</a>
                        <a href="#" class="list-group-item list-group-item-action active">Foros</a>
                        
                    </div>
                </ul>
                <div class="text-center mt-4">
                    <a href="../ranking/rankingU.html" class="btn btn-warning" role="button"> RANKING </a>
                </div>
            </div>
            <div class="col-sm-9 mt-4">
                <div class="container-fluid">
                    <div class="btn-group d-flex" role="group">
                        <button id="btnCrear" type="button" class="btn btn-outline-primary">Crear</button>
                        <button id="btnEditar" type="button" class="btn btn-outline-primary">Editar</button>
                        <button id="btnEliminar" type="button" class="btn btn-outline-primary">Eliminar</button>
                        <button id="btnVer" type="button" class="btn btn-outline-primary">Ver</button>
                        <button id="btnPublicar" type="button" class="btn btn-outline-primary">Publicar</button>
                    </div>

                </div>
                <div class="container mt-4">
                    <!-- Ejemplo de como debería verse después de guardarse en la base de datos -->
                    <div class="row" id="showPost1">
                        <div class="col-sm-1 mt-5">
                            <input type="checkbox" id="revisor1" name="checkBox1">
                        </div>
                        <div class="col-sm-11">
                            <h3>Compilación del kernel de Linux. Step by Step</h3>
                            <p><strong>Comentarios: </strong>0<br>
                                <strong>Vistas: </strong>0 <br>
                                <strong>Calificación: </strong>0.0 <br>
                                <strong>Estado: </strong> <em id="estadoPost1">No publicado</em><br>
                                <strong>Tags:</strong> <em>#SistemasOperativos #SystemAdministration</em><br>
                            </p>
                        </div>
                        <div class="container">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('hnf/footer.ejs') %> 

    <script type="text/javascript" src="./javascript/publicaciones/modPubForos.js"></script>

</body>

</html>