
body {
    background-color: white;
  }


.nombrePagina{
    border-bottom: 1px solid black;
    font-weight: 150;
    letter-spacing:  1rem;
}

/* a { font-size: 1rem; } */

@media (min-width: 0px) {
    #pageName { font-size: 2rem; }
    .informacionCuenta img {
        width:200px;
        height:200px;
     }
}
@media (min-width: 576px) {
    a { font-size: 1rem; }
    #pageName { font-size: 4rem; }
    .informacionCuenta img {
        width:130px;
        height:130px;
     }
}
@media (min-width: 768px) {
    .informacionCuenta img {
        width:200px;
        height:200px;
     }
     
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
    
}

.informacionCuenta{
    margin-top: 7%;
    box-shadow: 20px 25px 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 1px solid black;
}

textarea{
    min-width: 100%;
}

.btn{
  color: white;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 20px 8px 10px 5px rgba(0, 0, 0, 0.4);
  
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.699);
  border-color: rgba(143, 139, 139, 0.699);
  color: black;
}

#botonBuscar{
  border: 1px solid rgb(0, 123, 255);
  color: rgb(0, 123, 255);
}